<% provide(:title, "Bootstrap snippets for version " + @bootstrapversion.name) %>
<% provide(:description, "All the html, css and js snippets codes for bootstrap version " + @bootstrapversion.name ) %>
<% provide(:keywords, "snippets, css, js , html, Bootstrap, codes," + @bootstrapversion.name)%>

<h1 class="page-header text-center">Snippets for Bootstrap version <%= @bootstrapversion.name %></h1>


<div id="insert-snippets" class="col-md-12">
	<%= render partial: "snippets/snippets_list", locals: {snippets: @snippets} %>
</div>



<%= link_to 'Edit', edit_bootstrapversion_path(@bootstrapversion), :class => "btn btn-warning"  %> |
<%= link_to 'Back', bootstrapversions_path, :class => "btn btn-primary"  %>