<% provide(:title, "Boostrap Snippets by Tags") %>
<% provide(:description, "All the tags associated with Bootstrap snippets of code" ) %>
<% provide(:keywords, "tags, Snippets of code, HTML, JS, CSS, Snippets, Bootstrap, Developers, Development")%>

<h1 class="page-header text-center">Snippets by Tags <small> Select a Tag</small></h1>


<ul class="nav nav-pills nav-stacked tag-list">
	<% @tags.each do |tag| %>
		<li class="col-md-4 col-sm-6 col-xs-12 col-lg-3 ">
			<%= link_to tag do %>
			<span class="badge pull-right"><%= tag.taggings.size %></span>
			<%= tag.name %>
			<%end %>
		</li>
	<% end %>
</ul>
<% if is_administrator %>
<%= link_to 'New Tag', new_tag_path, :class => "btn btn-success" %>
<% end %>
