<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= content_for?(:title) ? yield(:title) : "Bootstrap Snippets" %></title>
<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "PUT YOUR DESCRIPTION HERE" %>">
<%= favicon_link_tag 'favicon.ico' %>

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Bootstrap Snippets">
<meta itemprop="description" content="Bootstrap Snippets">
<meta name="keywords" lang="en" content="Bootstrap, Snippets">
<meta itemprop="image" content="http://www.nadvence-beta.com/assets/nadvence-share.png">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@rebble_it">
<meta name="twitter:title" content="Bootstrap Snippets">
<meta name="twitter:description" content="Bootstrap Snippets">
<meta name="twitter:image" content="http://www.nadvence-beta.com/assets/nadvence-share.png">
<meta name="twitter:domain" content="">/>

<!-- Open Graph data -->
<meta property="og:title" content="Bootstrap Snippets" />
<meta property="og:type" content="website" />
<meta property="og:url" content="Bootstrap Snippets"/>
<meta property="og:image" content="http://www.nadvence-beta.com/assets/nadvence-share.png" />
<meta property="og:description" content="Bootstrap Snippets" />
<meta property="og:site_name" content="Bootstrap Snippets" />

<!-- Google plus author -->
<link rel="publisher" href="https://plus.google.com/+RebbleIt"/>

